<div class="list-container">
<div class="d-flex justify-content-center m-3">
  <h1>All your lists</h1>
</div>


<div class="container row justify-content-center">
  <% @lists.each do |list| %>
    <div class="col-4">
      <div class="card">
      <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= background_image(list) %>)">
      </div>
      <div class="list_title"><%= link_to list.name, list_path(list) %></div>
      </div>
    </div>
  <% end %>
</div>
</div>
