// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card-category {
  background-size: cover;
  background-position: center;
  height: 236px;
  width: 322px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.container {
  margin: 0px auto;
}

.card-category a {
  color: white;
  font-size: 24px;
  font-weight: bold;
}


body {
  background-color: white;
}

.banner {
  background-size: 50%;
  background-position: center;
  padding: 150px 0;
}

.card {
  display: flex;
  justify-content: center;
}

img {
  width: 19%;
}
